body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    background-color:rgb(65, 119, 112) ;
    border: 4px solid rgb(25, 125, 112);
    padding: 16px 30px;
    border-radius: 12px;
    
    
    text-align: center;
    margin: 60px auto;
    width: 400px

}
input{
    width:50%;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    border: 1px solid lightgray;

}
input:focus{
    outline: none;
    border:1px solid rgb(93, 23, 10);

}
.btn{
    margin-top: 12px;
    width: 100%;
    background-color: rgb(126, 180, 147);
    color: white;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
}
.flex{
    display: flex;
    gap:12px;
}